<!DOCTYPE html>
<html lang="en">

<head>
    <title>project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
    
</head>

<body>

    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light py-1" style="background-color: #0d21a1; border-radius: 0%;"  height="10%">
        <!-- <img src="u.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
        <a class="navbar-brand " href="#"><p class="navv">CS_Blog</p></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link py-0" href="#"><p class="navv">Home</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-0" href="#"><p class="navv">About us</p></a>
          </li>
          <li class="nav-item">
              <a class="nav-link py-0" href="#"><p class="navv">Contact</p></a>
              </li>
          </ul>
        </div>
      </nav>
  

    <div class="limit">
        <div class="login-container">
            <div class="bb-login">
               <H2 class="texts">Welcome !</H2><h5 style="color: white;">Enter your login details</h5>
            <!--INSERT FORM HERE-->
                <!-- <form class="bb-form validate-form"> <span class="bb-form-title p-b-26"> Welcome </span> <span class="bb-form-title p-b-48"> <i class="mdi mdi-symfony"></i> </span>
                 </form> -->
            </div>
        </div>
    </div>
</body>