<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h2>Profile Complete</h2>
    <form action="/user/data/" method="POST">{% csrf_token %}
        <input type="text" class="field" placeholder="Name" name="name">
        <textarea class="field" placeholder="Decription" name="description"></textarea>
        <input type="text" class="field" placeholder="Mail ID" name="mail">
        <input type="text" class="field" placeholder="Location" name="location">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>