{% extends "blog/index.html" %}

{% load static %}
    
{% block title %}Home{% endblock title %}
{% block style %}<link rel="stylesheet" href="{% static 'blog/login.css' %}">{% endblock style %}

{% block body %}
  

    <div class="limit">
        <div class="login-container">
            <div class="bb-login">
               <H2 class="texts">Welcome !</H2><h5 style="color: white;">Enter your login details</h5>
            <!--INSERT FORM HERE-->
                <form method="POST">
                  {% csrf_token %}
                  {{form.as_p}}
                  <button>Login</button>
              </form>
            </div>
        </div>
    </div>

<!-- </div> -->

{% endblock body %}
